 /*.container {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  
}*/

.container {
  margin-left: auto;
  margin-right: auto;
  margin: 0;
  padding: 0;
}

 body {
  margin: 0;
  padding: 0;
} 

* {
  border-sizing: border-box;
}

/*#video-div {
  align-items: center;
}*/

 @media (max-width: 500px) {
  body {
    flex-wrap: wrap;
    text-align: center;
  }
}

/* header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
 
}*/

 /* #nav-bar {
  list-style-type: none;
  display: inline-block; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  text-decoration: none;
  list-style-type: none;
}*/


#header-img {
  /* display: inline-block;*/
  position: relative;
  top: 150px;
  left: 650px;
  padding: 10px;
}


/* #nav-bar li:hover {
  background-color: green;
} */

#nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999; /* use z-index to make sure that the nav-bar goes over other elements */
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {

  background-color: green;
  
}

#video-div {
  display: flex;
  flex-direction: column;
  position: relative;
  bottom: 150px;
  padding: 10px;
}

form {
  position: absolute;
  bottom: 200px;
  padding: 10px;
}

.security-pag {
  position: absolute;
  width: 400px;
  height: 200px;
  padding: 10px;
  
}

.about-title {
  padding: 10px;
}

.about-link {
  position: relative;
  top: 150px;
  right: 125px;
}

#Contact {
  display: block;
  position: absolute;
  left: 600px;
  top: 573px;
  padding: 20px;
}

.desktop-computer {
  width: 40%;
  position: relative;
  left: 600px;
  bottom: 50px;

}

.CyberSec-pic {
  width: 40%;
  position: relative;
  top: 350px;
  left: 40px;
  max-width: 1000px;;
  margin-left: auto;
  margin-right: auto;
}


